.center{
    width: 1250px;
    height: 100vh;
    margin: 0 ;
}
header{
   width: 1250px;
   height: 100px;
   background-color: #DE7D86;
   display:flex;
}
main>.down{
    height: 430px;
    display: flex;
}
.down>.left{
    width: 416px;
    background-color: #FFC5C5;
}
.down>.middle{
    width: 418px;
    background: #FFA3A3;
}
.down>.right{
    width: 416px;
    background-color: #54D8DC;
}
footer{
    width: 1250px;
    height: 100px;
    background-color: #6E6875;
}